@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-lg75: 75rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
    --color-login: #fd8738;
    --color-login-950: #0e0e0e;
    --color-login-900: #121212;
    --color-login-800: #181818;
    --color-login-700: #1a1a1a;
    --color-login-600: #212121;
    --color-login-500: #323232;
    --color-login-400: #424242;
    --color-login-300: #5e5e5e;
    --color-login-200: #727272;
    --color-login-100: #b0b0b0;
    --color-login-75: #e4e4e4;
    --color-login-50: #ededed;

    --color-login-red: #ff0000;
}

@utility prose-login {
  --tw-prose-body: var(--color-login-75);
  --tw-prose-headings: var(--color-login-50);
  --tw-prose-lead: var(--color-login-100);
  --tw-prose-links: var(--color-login);
  --tw-prose-bold: var(--color-login-50);
  --tw-prose-counters: var(--color-login-50);
  --tw-prose-bullets: var(--color-login-50);
  --tw-prose-hr: var(--color-login-50);
  --tw-prose-quotes: var(--color-login-75);
  --tw-prose-quote-borders: var(--color-login);
  --tw-prose-captions: var(--color-login-75);
  --tw-prose-code: var(--color-login-75);
  --tw-prose-pre-code: var(--color-login-75);
  --tw-prose-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-th-borders: var(--color-login-50);
  --tw-prose-td-borders: var(--color-login-100);
}
@utility noscroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

:root {
    transition:
        background 0.4s,
        color 0.4s;
}

.dark {
    --background: #0e0e0e;
    --foreground: #ededed;

    --color-login: #fd8738;
    --color-login-950: #0e0e0e;
    --color-login-900: #121212;
    --color-login-800: #181818;
    --color-login-700: #1a1a1a;
    --color-login-600: #212121;
    --color-login-500: #323232;
    --color-login-400: #424242;
    --color-login-300: #5e5e5e;
    --color-login-200: #6b6b6b;
    --color-login-100: #b0b0b0;
    --color-login-50: #ededed;
}

.light {
    --background: #ededed;
    --foreground: #0e0e0e;

    --color-login: #fd8738;
    --color-login-950: #ededed;
    --color-login-900: #b0b0b0;
    --color-login-800: #cfcfcf;
    --color-login-700: #d9d9d9;
    --color-login-600: #e3e3e3;
    --color-login-500: #ebebeb;
    --color-login-400: #f3f3f3;
    --color-login-300: #f7f7f7;
    --color-login-200: #fafafa;
    --color-login-100: #fcfcfc;
    --color-login-50: #ffffff;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    transition:
        background 0.4s,
        color 0.4s;
}
